//import of new font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//chosen font 
$font-family-base: 'Playfair Display', serif;
$display-secondary-font-family: 'Lato', sans-serif;
.display-secondary {
    font-family: $display-secondary-font-family;
   
}

//other font ideas
// $font-family-base:"'Cambria";
// $font-family-base:"'Courier New";
// $font-family-base:"'Georgia";
// $font-family-base:"'Times New Roman";

@import "../node_modules/bootstrap/scss/functions";

//negative margins allowed me to move components freely
$enable-negative-margins:     true;


//my theme colors
$primary:rgb(84, 47, 232);
$secondary:rgb(25, 29, 98);

// Other colours i tried

// $primary:rgba(176, 81, 150);
// $secondary:rgb(113, 62, 102);
// $primary:rgb(95, 75, 139);
// $secondary:rgb(230, 154, 141);
// $secondary:rgb(95, 75, 139);
// $primary:rgb(230, 154, 141);

//import variables to allow new theme colors to work
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// my custom colors
$custom-colors:(
    "contrast":rgb(15, 66, 117),
    "low":rgb(255, 88, 0),
    // My background body color
    "backG":rgb( 207, 246, 255),
);


//map merge is a function which merges the new custom colors with the existing colors you created
$theme-colors: map-merge($theme-colors , $custom-colors);

//removes these colors from the bootstrap css 
$theme-colors:map-remove($theme-colors, "warning" );



//created a new spacer to 
$spacer:1rem;
$spacers:(
    1:$spacer *0.25,
    2:$spacer *0.50,
    3:$spacer,
    4:$spacer * 2,
    5:$spacer *4,
    6:$spacer * 5.5,
    7:$spacer * 3,
    8:$spacer * 11  
);
// my spacing is very messy but if i had more time i would make it more neat and especially in order


//to change the text white instead of having it dark as its harder to see with my secondary colour
$card-color:("white");
//need to find out how to add this without changing bootsrap css
//this changes the bootstrap scss and didnt know how to add this function to the card variable given by bootstrap
.card:hover{
    transform: scale(1.02)
}

// tried to create a custom color card which already had the hover feature
// $custom-card:(
//     hover:(transform(scale(1.02)))
// );
// $custom-card: variable-merge($card , $custom-card);
@import "../node_modules/bootstrap/scss/card";

//Tried to create a my own rotations in a component i wanted to use but scrapped the idea

// $utilities:();

// $custom-utilities:(
//     "rotate": (
//         property: transform,
//         class: rotate,
//         values:(
//             0: rotate(0deg),
//             1: rotate(5deg),
//             2: rotate(10deg),
//             3: rotate(15deg),
//             4: rotate(20deg),
//             5: rotate(25deg)
//         ),
//     ) ,
//     $custom-utilities: map-merge($utilities, $custom-utilities);

// Didnt change the border radius in the end

//rounded have to say rounded when calling these in
// $border-radius:               .375rem;
// $border-radius-sm:            .25rem;
// $border-radius-lg:            .5rem;
// $border-radius-xl:            1rem;
// $border-radius-2xl:           2rem;
// $border-radius-pill:          50rem;


//Changed the checked color to make it more visible to the checked
$form-check-input-checked-bg-color:(
    $secondary
);

// tried to changed the padding left as it was not properly in the container in a small breakpoint
//It didn't work

// $form-check-padding-left:100px;



@import "../node_modules/bootstrap/scss/forms/form-check";
@import "../node_modules/bootstrap/scss/bootstrap.scss";